<div class="cart-container">
  <div>Cart</div>
  <span *ngIf="(cartItemsNumber$ | async) !== 0" (click)="showCart()">^</span>
  <div *ngIf="cartItemsNumber$ | async as cartItemsNumber">
    <p *ngIf="cartItemsNumber === 1">
      {{ cartItemsNumber }}<span> item in the cart.</span>
    </p>
    <p *ngIf="cartItemsNumber > 1">
      {{ cartItemsNumber }}<span> items in the cart.</span>
    </p>
  </div>

  <div *ngIf="(cartItemsNumber$ | async) === 0">
    <p>No items in the cart</p>
  </div>

  <div
    class="cart-items"
    *ngIf="isCartShown && (cartItemsNumber$ | async) !== 0"
  >
    Cart shown<span (click)="hideCart()">X</span>
    <div *ngIf="cartItems$ | async as cartItems">
      <div *ngFor="let item of cartItems">
        <p>{{ item.title }}</p>
        <p>{{ item.price | currency }}</p>
        <span (click)="deleteItem(item.id)">DEL</span>
      </div>

      <div *ngIf="total$ | async as cartTotal">
        <p><strong>Total:</strong>{{ cartTotal | currency }}</p>
      </div>

      <div>{{ total }}</div>
      <button [routerLink]="['/checkout']">Proceed to checkout</button>
    </div>
  </div>
</div>
