<div class="cart-container">
  <mat-icon>shopping_cart</mat-icon>
  <span
    *ngIf="(cartItemsNumber$ | async) !== 0 && !isCartShown"
    (click)="showCart()"
    ><mat-icon class="cart-arrow">keyboard_arrow_down</mat-icon></span
  >

  <span
    *ngIf="(cartItemsNumber$ | async) !== 0 && isCartShown"
    (click)="showCart()"
    ><mat-icon class="cart-arrow">keyboard_arrow_up</mat-icon></span
  >
  <div class="cart-number" *ngIf="cartItemsNumber$ | async as cartItemsNumber">
    <span>{{ cartItemsNumber }}</span>
  </div>

  <div *ngIf="(cartItemsNumber$ | async) === 0">
    <p>No items in the cart</p>
  </div>

  <div
    data-aos="fade-right"
    class="cart-items"
    *ngIf="isCartShown && (cartItemsNumber$ | async) !== 0"
  >
    <div class="cart-items-container" *ngIf="cartItems$ | async as cartItems">
      <div *ngFor="let item of cartItems">
        <p>{{ item.title }}</p>
        <p>{{ item.price | currency }}</p>
        <span (click)="deleteItem(item.id)">DEL</span>
      </div>

      <div *ngIf="total$ | async as cartTotal">
        <p><strong>Total:</strong>{{ cartTotal | currency }}</p>
      </div>

      <div>{{ total }}</div>
    </div>
    <button class="proceed-button" [routerLink]="['/checkout']">
      Proceed to checkout
    </button>
  </div>
</div>
