.searched-product {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid red;

  &:hover {
    background-color: lightgray;
    cursor: pointer;
  }

  &-img {
    width: 80px;
    height: 60px;
  }

  &-container {
    width: 200px;
  }
}

:host ::ng-deep {
  background: red !important;
}
