<a [routerLink]="['']">Go home</a>
<app-search-on-product></app-search-on-product>
<app-item-added-pop-up></app-item-added-pop-up>
<app-cart></app-cart>
<div class="container">
  <div *ngIf="product$ | async as product">
    <app-product-info
      class="single-product"
      [title]="product.title"
      [brand]="product.brand"
      [price]="product.price"
      [image]="product.thumbnail"
      [rating]="product.rating"
      [id]="product.id"
      [images]="product.images"
    >
    </app-product-info>
    <button (click)="addToCart(product)">Add to cart</button>
  </div>
</div>
